<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">
	<!-- Console Appender -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</layout>
	</appender>
	<!-- Debug Log File Appender -->
	<appender name="debug-log" class="org.apache.log4j.FileAppender">
		<param name="Append" value="false" />
		<param name="File" value="C:/Git/Mindfitness/Logging/logs/debug.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="debug" />
			<param name="LevelMax" value="debug" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	<!-- Info Log File Appender -->
	<appender name="info-log" class="org.apache.log4j.FileAppender">
		<param name="File" value="C:/Git/Mindfitness/Logging/logs/info.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="info" />
			<param name="LevelMax" value="info" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	<!-- Warning Log File Appender -->
	<appender name="warning-log" class="org.apache.log4j.FileAppender">
		<param name="File" value="C:/Git/Mindfitness/Logging/logs/warning.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="warn" />
			<param name="LevelMax" value="warn" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	<!-- Error Log File Appender -->
	<appender name="error-log" class="org.apache.log4j.FileAppender">
		<param name="Append" value="false" />
		<param name="File" value="C:/Git/Mindfitness/Logging/logs/error.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="error" />
			<param name="LevelMax" value="error" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	<!-- Fatal Log File Appender -->
	<appender name="fatal-log" class="org.apache.log4j.FileAppender">
		<param name="Append" value="false" />
		<param name="File" value="C:/Git/Mindfitness/Logging/logs/fatal.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="fatal" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	<!-- General Log File Appender -->
	<appender name="general" class="org.apache.log4j.FileAppender">
		<param name="Append" value="false" />
		<param name="File" value="C:/Git/Mindfitness/Logging/logs/general.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="debug" />
			<param name="LevelMax" value="fatal" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>
	<logger name="com.certant.logging">
		<appender-ref ref="debug-log" />
		<appender-ref ref="info-log" />
		<appender-ref ref="warning-log" />
		<appender-ref ref="error-log" />
		<appender-ref ref="fatal-log" />
		<appender-ref ref="general" />
	</logger>
</log4j:configuration>
